html, body{
    height : 100%;
    padding: 0%;
    margin: 0%;
}

body {
    background: rgb(246, 246,246);
}

.toolbar {
    background-color: white;
    overflow: hidden;
    position: fixed; /* Set position relative for smooth transition */
    z-index: 1000;  /* Set a higher z-index to make sure it's above other elements */
    top: 0;
    background-image: url(cat.png);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 1px;
    width: 100%;
}

.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar li {
    float: right;
}

.toolbar a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:monospace;
    font-weight: bolder;
    font-size: 16px;
}

.toolbar a:hover {
    color: rgb(4, 61, 136);
    background-color: lightgrey;
}

.grid-container {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    grid-gap: 3rem;
    justify-items: stretch;
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr; /* Switch to a single column layout */
    }
}

.grid > div {
    /* background: lightblue; */
    padding-top: 6%;
    padding-bottom: 2%;
    border-radius: 3%;
    border-style: solid;
    border-color: lightblue;
    border-width: 5px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;    
    overflow-wrap: break-word;
}

.contact_button a{
    color: green;
    position: relative;
    transition: all 0.5s;
    display: inline-block;
}

.contact_button a:hover {
    text-decoration: none;
}

.contact_button a:hover:after {
    opacity: 1;
    right: 0;
} 

.split-column-container {
    display: flex;
    height: max-content;
    font-family: Arial;
}

.left-half {
    flex: 1.5; /* Take up 50% of the container */
    background-color: #f0f0f0; /* Adjust as needed */
    background-color: #e0e0e0; /* Adjust as needed */
    text-align: center; /* Center the text horizontally */
    padding: 20px;
    background-image: url('Flowers.jpg');
    background-size: cover;
}

.right-half {
    flex: 1; /* Take up 50% of the container */
    background-color: #f0f0f0; /* Adjust as needed */
    padding: 20px;
}

.backdrop{
    background: rgba(244, 239, 239, 0.5);
    border-radius: 10%;
    height: 100%;
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
}

.backdrop-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #A7CFDF;
    background: linear-gradient(to top left, #A7CFDF 0%, #36B5FF 50%, #277BCF 86%);
    color: #090202;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}


