body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.introduction{
    padding-top: 20px;
    text-align: center;

    /* background: #022c43; */

    /* background: #A7CFDF;
    background: linear-gradient(to top left, #A7CFDF 0%, #36B5FF 50%, #277BCF 86%); */

    /* background: rgb(2,0,36); */

    background: linear-gradient(to right top, #051937, #113b62, #19628f, #1b8cbb, #1eb9e6);
}

.introduction_text{
    color: white;
    font-size: 20px;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 10px;
    text-align: justify;
}

.toolbar {
    background-color: white;
    overflow: hidden;
    position: fixed; /* Set position relative for smooth transition */
    z-index: 1000;  /* Set a higher z-index to make sure it's above other elements */
    top: 0;
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 1px;
    width: 100%;
}

.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar li {
    float: right;
}

.toolbar a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:monospace;
    font-weight: bolder;
    font-size: 16px;
}

.toolbar a:hover {
    color: rgb(4, 61, 136);
    background-color: lightgrey;
}


#carouselExampleControls {
    max-width: 400px; /* Set your desired maximum width */
    margin: auto;     /* Center the carousel */
}

.projects{
    padding-top: 20px;
    background-color: rgb(246, 246, 246);
    text-align: center;
}

.projects_text{
    font-size: 20px;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 10px;
    color: rgb(53, 53, 53);
    text-align: center;
}

.projects_text_2{
    font-size: 20px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 10px;
    color: rgb(53, 53, 53);
    text-align: justify;
}

.grid-container {
    padding-left: 20%;
    padding-right: 20%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 3rem;
    justify-items: stretch;
}

.grid > div {
    background: #EADBC8;
    padding: 5%;
    border-radius: 7px;
    border-width: 0 0 0 10px;   
    border-color: #3f97d5;
    border-style: solid;    
    border-top-left-radius: 7px;    
    border-bottom-left-radius: 7px; 
    font-size: 20px;
    text-align: left;
    box-shadow: 5px 5px 10px rgb(184, 184, 185);
    position: relative;
}

.grid-container-2{
    padding-left: 10%;
    padding-right: 10%;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-gap: 4rem;
    justify-items: stretch;
}

.grid-2 > div {
    display: flex;
    flex-direction: column;
    background: #EADBC8;
    padding: 5%;
    border-radius: 7px;
    border-width: 0 0 0 10px;   
    border-color: #001242;  
    border-style: solid;    
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px; 
    font-size: 20px;
    box-shadow: 5px 5px 10px rgb(184, 184, 185);
    font-style: italic;
    text-align: justify;
}

.main-content {
    flex-grow: 1;
}

.sign-off{
    line-height: 15px;
    font-style: normal;
    text-align: left;
}



.slide-in {
    opacity: 0; /*Initially set opacity to 0 */
    transform: translateX(-100%);
    transition: opacity 1s, transform 3s;
}

.active {
    opacity:1;
    transform: translateX(0%);
}

@media (max-width: 768px) {
    .grid-2{
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
        grid-gap: 4rem;
        justify-items: stretch;
    }
}